body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: #777;
}

.heading-primary{
  color: $white;
  text-transform: uppercase;
  margin: 0 -3.6rem 6rem 0;
  backface-visibility: hidden;
  &--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.6rem;
    animation: moveToRight 1s ease-out;

    @include adaptive(phone){
      font-size: 3.85rem;
      letter-spacing: 3.05rem;
    }
  }
  &--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .63rem;
    animation: moveToLeft 1s ease-out;

    @include adaptive(phone){
      font-size: 1.3rem;
      letter-spacing: .55rem;
    }
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to bottom right, $secondaryColor, $firstColor);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  @include adaptive(tab-port){
    font-size: 3rem;
  }

  @include adaptive(phone){
    font-size: 2.5rem;
  }

  &:hover{
    transform: scaleX(1.1) scaleY(1.1);
    text-shadow: .5rem 1rem 2rem rgba($black, .2);
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph{
  font-size: $default-font-size;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}

