//COLORS
$firstColor: rgba(88, 70, 46, 0.8);
$secondaryColor: rgba(208, 191, 171, 0.8);

$pink-light: #8e6a6d;
$pink-dark: #403031;

$grey-light: #5f7078;
$grey-dark: #2d373c;

$white: #fff;

$color-grey-light-1: #f7f7f7;

$black: #000;
$lightGrey: #777;

$border-grey: #eee;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//IMG PATH
$img-greek8-path: "../img/greek8.jpg";
$img-greek4-path: "../img/greek4.jpg";
$img-greek3-path: "../img/greek3.jpg";
$img-greek2-path: "../img/greek2.jpg";
$img-greek9-path: "../img/greek9.png";


//FONT
$default-font-size: 1.6rem;
