.book{
  background-image: linear-gradient(105deg, rgba($white, .9) 0%, rgba($white, .9) 50%, rgba($firstColor, .9) 50%, rgba($secondaryColor, .9) 100%), url("../img/greek8.jpg");
  background-size: cover;
  background-position: top;
  border-radius: .3rem;

  @include adaptive(tab-port){
    background-image: linear-gradient(105deg, rgba($white, .9) 0%, rgba($white, .9) 100%), url("../img/greek8.jpg");
  }

  &__form{
    width: 50%;
    padding: 6rem;

    @include adaptive(tab-port){
      width: 90%;
      padding: 3rem;
    }
    @include adaptive(phone){
      padding: 2rem;
      width: 100%;
      font-size: 1rem;
    }
  }
}
