.btn{
  &,
  &:link,
  &:visited{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    z-index: 100;

    //STYLES FOR <BUTTON> ELEMENT

    border: none;
    cursor: pointer;
  }
  &:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($black,.2);
    &::after{
      content: "";
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &-box{
    text-align: center;
  }
  &--white{
    background-color: $white;
    color: $lightGrey;
    &::after{
      content: "";
      background-color: $white;
    }
  }
  &:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($black,.2);
  }
  &::after{
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  &--animated{
    animation: moveToTop .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text{
  &:link,
  &:visited{
    font-size: $default-font-size;
    color: $firstColor;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid $firstColor;
    padding: .3rem;
    transition: all .2s;
  }

  &:hover{
    background-color: $firstColor;
    color: $white;
    box-shadow: 0 1rem 2rem rgba($black, 0.15);
    transform: translateY(-.2rem);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($black, 0.15);
    transform: translateY(0);
  }
}

.btn--dark{
  background-color: $firstColor;
  color: $white;
  &::after{
    content: "";
    background-color: $firstColor;
  }
}
