.feature-box{
  background-color: rgba($white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($black, .15);
  transition: transform .2s;

  @include adaptive(tab-port){
    padding: 2rem;
  }
  &:hover{
    transform: translateY(-1.5rem) scale(1.03);
  }
  &__icon{
    display: inline-block;
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right bottom, $firstColor, $secondaryColor);
    -webkit-background-clip: text;
    color: transparent;

    @include adaptive(tab-port){
      font-size: 4rem;
      margin-bottom: 0;
    }
  }
}
