.story{
  position: relative;
  width: 75%;
  background-color: rgba($white, .6);
  box-shadow: 0 3rem 6rem rgba($black, .1);
  margin: 0 auto;
  border-radius: .3rem;
  padding: 6rem;
  transform: skewX(-12deg);

  @include adaptive(phone){
    padding: 3rem;
  }

  @include adaptive(tab-port){
    width: 100%;
  }
  @include adaptive(phone){
    width: 100%;
    transform: skewX(0);
  }

  & > *{
    transform: skewX(12deg);

    @include adaptive(phone){
      transform: skewX(0);
    }
  }

  &__circle{
    background-color: #fff;
    height: 15rem;
    width: 15rem;
    position: relative;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 4rem;
    overflow: hidden;
    border-radius: 50%;

    @include adaptive(tab-port){
      left: -1.5rem;
      margin: 0 5rem 1rem 0;
    }
    @include adaptive(phone){
      float: none;
      left: 0;
      margin: 0 auto;
    }
  }

  &__img{
    height: 100%;
    border-radius: 10rem;
    transform: translateX(-3rem) scale(1.2);
    transition: all .5s;


    //DO NOT ADD
    //transform: scale(1.4);
  }

  &__text{

    @include adaptive(phone){
      text-align: center;
    }

    p{
      font-size: $default-font-size;
    }
  }

  &__sub{
    text-transform: uppercase;
    font-size: 1.7rem;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    opacity: 0;

    transition: all .5s;
  }

  &:hover &__sub{
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img{
    filter: blur(.3rem) brightness(80%);
    transform: translateX(-3rem) scale(1);
  }

}
