.footer{
  padding: 10rem 0;
  background-color: $grey-dark-1;
  font-size: 1.4rem;

  &__logo-box{
    text-align: center;
  }
  &__logo{
    width: 15rem;
    height: auto;
  }
  &__navigation{
    display: inline-block;
    border-top: .1rem solid $lightGrey;
    padding-top: 2rem;
  }
  &__list{
    list-style: none;

    &-item{
      display: inline-block;

      &:not(:last-child){
        margin-right: 1.5rem;
      }
    }
  }
  &__link{
    &:link,
    &:visited{
      background-color: $grey-dark-1;
      text-decoration: none;
      color: $color-grey-light-1;
      display: inline-block;
      text-transform: uppercase;
      transition: all .2s;

    }
    &:hover,
    &:active{
      color: $secondaryColor;
      box-shadow: 0 1rem 2rem rgba($black, .4);
      transform: rotate(5deg) scale(1.3);
    }

  }
  &__copyright{
    border-top: .1rem solid $lightGrey;
    padding-top: 2rem;
    width: 85%;
    float: right;
  }
}
